

.rotate-180 {
  transform: rotate(180deg);
}
.custom-toggle::after {
  display: none !important;
}
.about-text {
  color: rgba(0, 0, 0, 0.80);
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: inline-block; /* for text-align to work properly */
}
